# üõí **Ïó∞Í¥Ä Î∂ÑÏÑù (Association Rule Analysis) Í≥ºÏ†ú**

### <span style="color:black; background-color:#F5F5F5;"> **Q1. Ïó∞Í¥Ä Í∑úÏπô {Ïö∞Ïú†} ‚Üí {Ïø†ÌÇ§}Í∞Ä ÎèÑÏ∂úÎêòÏóàÏùÑ Îïå, Îã§Ïùå Ïö©Ïñ¥Îì§Ïù¥ Í∞ÅÍ∞Å Î¨¥ÏóáÏùÑ ÏùòÎØ∏ÌïòÎäîÏßÄ ÏÑ§Î™ÖÌïòÏãúÏò§.**
#### <span style="color:black; background-color:#F5F5F5;">**‚ë† ÏßÄÏßÄÎèÑ(support) ‚ë° Ïã†Î¢∞ÎèÑ(confidence) ‚ë¢ Ìñ•ÏÉÅÎèÑ(lift)** </span>

Îãµ: 
- ÏßÄÏßÄÎèÑ : Ï†ÑÏ≤¥ Í±∞Î†à Ï§ë Ïö∞Ïú†ÏôÄ Ïø†ÌÇ§Î•º ÎèôÏãúÏóê Ìè¨Ìï®Ìïú Í±∞ÎûòÏùò ÎπÑÏú®
- Ïã†Î¢∞ÎèÑ : Ïö∞Ïú†Î•º ÏÇ∞ ÏÇ¨Îûå Ï§ë ÏñºÎßàÎÇò ÎßéÏùÄ ÏÇ¨ÎûåÏù¥ Ïø†ÌÇ§ÎèÑ ÏÉÄÎäîÏßÄ Í∑∏ ÎπÑÏú®
- Ìñ•ÏÉÅÎèÑ : Ïö∞Ïú†ÏôÄ Ïø†ÌÇ§Ïùò ÎèôÏãú Íµ¨Îß§Í∞Ä Ïö∞Ïó∞Ïù∏ÏßÄ, Ïã§Ï†úÎ°ú ÏÉÅÍ¥ÄÏù¥ ÏûàÎäîÏßÄ ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëú

### <span style="color:black; background-color:#F5F5F5;"> **Q2. Apriori ÏïåÍ≥†Î¶¨Ï¶òÏù¥ Ï≤òÎ¶¨Ìï¥Ïïº Ìï† ÌõÑÎ≥¥ Ìï≠Î™© ÏàòÍ∞Ä Í∏∞ÌïòÍ∏âÏàòÏ†ÅÏúºÎ°ú Ï¶ùÍ∞ÄÌïòÎäî Ïù¥Ïú†ÏôÄ, FP-GrowthÍ∞Ä Ïù¥Î•º Ïñ¥ÎñªÍ≤å Ìï¥Í≤∞ÌïòÎäîÏßÄ ÏÑ§Î™ÖÌïòÏãúÏò§.**

Îãµ: apriori ÏïåÍ≥†Î¶¨Ï¶òÏùÄ ÎπàÎ∞ú ÏïÑÏù¥ÌÖúÏÖãÏùÑ Ï∞æÍ∏∞ ÏúÑÌï¥ Î™®Îì† Í∞ÄÎä•Ìïú ÏïÑÏù¥ÌÖú Ï°∞Ìï©ÏùÑ Îã®Í≥ÑÏ†ÅÏúºÎ°ú ÏÉùÏÉÅÌïòÍ∏∞ ÎïåÎ¨∏Ïóê ÏïÑÏù¥ÌÖú ÏàòÍ∞Ä Ï°∞Í∏àÎßå ÎäòÏñ¥ÎÇòÎèÑ ÌõÑÎ≥¥ Ï°∞Ìï© ÏàòÍ∞Ä Í∏∞ÌïòÍ∏âÏàòÏ†ÅÏúºÎ°ú Ï¶ùÍ∞ÄÌï® -> FP-GrowthÎäî Îç∞Ïù¥ÌÑ∞Î•º Ìä∏Î¶¨Î°ú ÏïïÏ∂ïÌïòÏó¨ Íµ¨Ï°∞ÌôîÌïú Îí§, ÎπàÎ∞ú Ìå®ÌÑ¥ÏùÑ Ïû¨Í∑ÄÏ†ÅÏúºÎ°ú Î∂ÑÌï¥ÌïòÍ≥† ÌÉêÏÉâ => Ï§ëÎ≥µ Ï†ÄÏû•ÏùÑ ÏµúÏÜåÌôîÌïòÎ©∞ Ìï¥Í≤∞

# <span style="color:black; background-color:#F5F5F5;"> üí∏ **Ïó∞Í¥Ä Î∂ÑÏÑùÏùÑ ÌôúÏö©Ìïú ÏûâÎßàÌä∏(Ing-Mart) Í≥†Í∞ù Ïû•Î∞îÍµ¨Îãà Ìå®ÌÑ¥ Î∂ÑÏÑù Î∞è ÎπÑÏ¶àÎãàÏä§ Ï†ÑÎûµ ÏàòÎ¶Ω** </span>

<strong>Ï£ΩÏßÄÎèÑ ÏïäÍ≥† Îã§Ïãú ÎèåÏïÑÏò® ÏûâÎßàÌä∏..! ü§£ü´•üò´üôÉ<br>
Ïù¥Î≤à Ïó∞Í¥Ä Î∂ÑÏÑù Ïã¨Ìôî ÏÑ∏ÏÖòÏùò Í≥ºÏ†úÎäî ÏûâÎßàÌä∏Ïùò Í≥†Í∞ù Ïû•Î∞îÍµ¨Îãà Î∂ÑÏÑùÍ≥º Ï†ÑÎûµ ÏàòÎ¶ΩÏûÖÎãàÎã§~ <strong>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì ÏßÄÎÇú Ïã¨Ìôî ÏÑ∏ÏÖòÏóêÏÑú Î∞∞Ïö¥ Í∞úÎÖêÍ≥º Ïã§Ïäµ ÎÇ¥Ïö©ÏùÑ Î∞îÌÉïÏúºÎ°ú ÏïÑÎûò ÎπàÏπ∏ÏùÑ Ï±ÑÏõåÏ£ºÏãúÍ≥†, Ìï¥Îãπ Ïû•Î∞îÍµ¨Îãà Í≤∞Í≥ºÎ•º Î∂ÑÏÑùÌïòÏó¨ Ïù¥Ïóê Ï†ÅÌï©Ìïú Ï†ÑÎûµÏùÑ Ï†úÏãúÌï¥Ï£ºÏãúÎ©¥ Îê©ÎãàÎã§! <strong>
</span>

## **1Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ Î∞è Ï†ÑÏ≤òÎ¶¨**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth
import warnings
warnings.simplefilter(action='ignore', category=DeprecationWarning)

In [2]:
# !pip install mlxtend

- Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
  - 1Ï∞® Ïù∏ÏÇ¨Ïù¥ÏΩò Îïå ÌôúÏö©ÌïòÏÖ®Îçò Îç∞Ïù¥ÌÑ∞ ÏõêÎ≥∏ÏùÑ ÌôúÏö©Ìï¥Ï£ºÏãúÎ©¥ Îê©ÎãàÎã§!
  - ÏïåÎßûÍ≤å Í≤ΩÎ°ú ÏßÄÏ†ïÌï¥Ï£ºÏÑ∏Ïöî~

In [3]:
transaction_data = pd.read_csv('transaction_data.csv')
product = pd.read_csv('product.csv')

In [4]:
transaction_data.head()

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match)
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0

- Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨
  - ÏòàÏãúÎ°ú Ï†úÏãúÌï¥ÎìúÎ¶¨ÏßÄÎßå Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÌïÑÏöîÌïú Î∂ÄÎ∂ÑÏùÄ Ï†ÑÏ≤òÎ¶¨ Ï≤òÎ¶¨Ìï¥Ï£ºÏÑ∏Ïöî!

In [5]:
# Quantity Ïó¥Ïóê ÎåÄÌï¥ Z-scoreÎ•º Í≥ÑÏÇ∞Ìïú Îí§, Ï†àÎåìÍ∞íÏùÑ Ï∑®Ìï¥ ÏÉàÎ°úÏö¥ Ïó¥ 'z_score'Ïóê Ï†ÄÏû•
transaction_data["z_score"] = np.abs(stats.zscore(transaction_data["Quantity"]))

# Z-scoreÍ∞Ä 3ÏùÑ Ï¥àÍ≥ºÌïòÎäî Ïù¥ÏÉÅÏπò(Ï¶â, ÌèâÍ∑†ÏóêÏÑú 3ÌëúÏ§ÄÌé∏Ï∞® Ïù¥ÏÉÅ Î≤óÏñ¥ÎÇú Í∞í)Î•º Ï∂îÏ∂ú
outliers_zscore = transaction_data[transaction_data["z_score"] > 3]

- Í≥†Í∞ù - ÏÉÅÌíà ÌñâÎ†¨ ÏÉùÏÑ±

In [6]:
# Í≥†Í∞ù-ÏÉÅÌíà pivot_table ÏÉùÏÑ± (Ìñâ: Í≥†Í∞ù, Ïó¥: ÏÉÅÌíà, Í∞í: Ï¥ù Íµ¨Îß§Í∏àÏï°)
user_item_matrix = transaction_data.pivot_table(
    index='Household_ID',     # Í∞ÄÍµ¨ ID Í∏∞Ï§Ä
    columns='Product_ID',     # ÏÉÅÌíà ID Í∏∞Ï§Ä
    values='Sales_Value',     # Íµ¨Îß§ Í∏àÏï°
    aggfunc='sum',            # ÏÉÅÌíàÎ≥Ñ Ï¥ù Íµ¨Îß§Í∏àÏï°
    fill_value=0              # Íµ¨Îß§ Ïù¥Î†• ÏóÜÏúºÎ©¥ 0
)
user_item_matrix

Product_ID,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,18273019,18273051,18273115,18273133,18292005,18293142,18293439,18293696,18294080,18316298
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# ÌñâÎ†¨Ïùò ÌÅ¨Í∏∞ ÌôïÏù∏ (Í≥†Í∞ù Ïàò √ó ÏÉÅÌíà Ïàò)
user_item_matrix.shape

(2500, 92339)

- Íµ¨Îß§Í∞Ä Ï†ÅÏùÄ ÏÇ¨Ïö©Ïûê/ÏÉÅÌíà ÌïÑÌÑ∞ÎßÅ

In [8]:
# ÌïÑÌÑ∞ÎßÅ Í∏∞Ï§Ä Ï†ïÏùò
min_product_purchases = 10   # ÏµúÏÜå 10Î™Ö Ïù¥ÏÉÅÏù¥ Íµ¨Îß§Ìïú ÏÉÅÌíàÎßå ÏÇ¨Ïö©
min_user_purchases = 2       # ÏµúÏÜå 2Í∞ú Ïù¥ÏÉÅ ÏÉÅÌíà Íµ¨Îß§Ìïú ÏÇ¨Ïö©ÏûêÎßå ÏÇ¨Ïö©

# ÏÉÅÌíàÎ≥Ñ Íµ¨Îß§Îêú Í≥†Í∞ù Ïàò Í≥ÑÏÇ∞
product_purchase_count = (user_item_matrix > 0).sum()

# Í≥†Í∞ùÎ≥Ñ Íµ¨Îß§Ìïú ÏÉÅÌíà Ïàò Í≥ÑÏÇ∞
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# Í∏∞Ï§ÄÏùÑ ÎßåÏ°±ÌïòÎäî ÏÉÅÌíàÍ≥º ÏÇ¨Ïö©Ïûê ÌïÑÌÑ∞ÎßÅ
filtered_products = product_purchase_count[product_purchase_count >= min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# ÌïÑÌÑ∞ÎßÅÎêú ÌñâÎ†¨ Ï∂îÏ∂ú
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
print(f"\n2. Filtered Matrix Shape: {filtered_matrix.shape}")

2. Filtered Matrix Shape: (2500, 23326)

- Ïù¥ÏÉÅÏπò Î∞è ÏùåÏàò Ï†úÍ±∞Ìïú Ìä∏ÎûúÏû≠ÏÖò Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±

In [9]:
# Z-score Í∏∞Ï§ÄÏúºÎ°ú Ïù¥ÏÉÅÏπò Ï†úÍ±∞ (¬±3 Ïù¥ÏÉÅ) + Íµ¨Îß§ ÏàòÎüâÏù¥ ÏñëÏàòÏù∏ Îç∞Ïù¥ÌÑ∞Îßå ÎÇ®ÍπÄ
transaction_data_cleaned = transaction_data[
    (transaction_data['z_score'] < 3) & 
    (transaction_data['z_score'] > -3) & 
    (transaction_data['Quantity'] > 0)
]
print(transaction_data_cleaned.shape)

# Îç∞Ïù¥ÌÑ∞ ÏÉòÌîå ÌôïÏù∏
transaction_data_cleaned.head()

(2559321, 13)

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202

- Ï†ïÏ†úÎêú Îç∞Ïù¥ÌÑ∞Î°ú Îã§Ïãú ÏÇ¨Ïö©Ïûê-ÏÉÅÌíà ÌñâÎ†¨ ÏÉùÏÑ± Î∞è ÌïÑÌÑ∞ÎßÅ

In [11]:
# Îçî Ï†ïÌôïÌïú Ïó∞Í¥Ä Í∑úÏπô ÎèÑÏ∂úÏùÑ ÏúÑÌï¥ Ïù¥ÏÉÅÏπò Ï†úÍ±∞ ÌõÑ Ïû¨ÏÉùÏÑ±
# Ï†ïÏ†úÎêú Îç∞Ïù¥ÌÑ∞Î•º Í∏∞Î∞òÏúºÎ°ú ÏÇ¨Ïö©Ïûê-ÏÉÅÌíà Îß§Ìä∏Î¶≠Ïä§ Îã§Ïãú ÏÉùÏÑ±
user_item_matrix = transaction_data_cleaned.pivot_table(
    index='Household_ID',     # Í∞ÄÍµ¨ ID Í∏∞Ï§Ä
    columns='Product_ID',     # ÏÉÅÌíà ID Í∏∞Ï§Ä
    values='Sales_Value',     # Íµ¨Îß§ Í∏àÏï°
    aggfunc='sum',            # ÏÉÅÌíàÎ≥Ñ Ï¥ù Íµ¨Îß§Í∏àÏï°
    fill_value=0              # Íµ¨Îß§ Ïù¥Î†• ÏóÜÏúºÎ©¥ 0
)

# ÌïÑÌÑ∞ÎßÅ Í∏∞Ï§Ä Ïû¨ÏÇ¨Ïö©
min_product_purchases = 10  
min_user_purchases = 2     

# ÏÉÅÌíà/ÏÇ¨Ïö©ÏûêÎ≥Ñ Íµ¨Îß§ ÌöüÏàò Í≥ÑÏÇ∞
product_purchase_count = (user_item_matrix > 0).sum()
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# Ï°∞Í±¥Ïóê ÎßûÎäî ÏÉÅÌíàÍ≥º ÏÇ¨Ïö©Ïûê ÌïÑÌÑ∞
filtered_products = product_purchase_count[product_purchase_count >=min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# ÏµúÏ¢Ö ÌïÑÌÑ∞ÎßÅÎêú ÌñâÎ†¨ ÏÉùÏÑ±
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
filtered_matrix

Product_ID,27658,34873,43020,43871,59666,138619,197681,201704,215923,244960,...,18005913,18005929,18022252,18055205,18055329,18105264,18106286,18119016,18147612,18203921
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- ÏÉÅÌíà Ï†ïÎ≥¥ Ï°∞Ïù∏ÌïòÏó¨ Ï†úÌíà ÌÉÄÏûÖ Îã®ÏúÑÎ°ú Î∂ÑÏÑù Ï§ÄÎπÑ

In [12]:
# Product_IDÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ productÏôÄ inner joinÌïòÏó¨ Product_type Ï†ïÎ≥¥ Ï∂îÍ∞Ä
merged_data = pd.merge(transaction_data_cleaned, product, on='Product_ID', how='inner')
merged_data

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Manufacturer,Brand,Category,Subcategory,Product_type,Curr_Size_of_Product
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202,69,Private,DRUG GM,ANALGESICS,ADULT ANALGESICS,
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202,2110,National,GROCERY,ICE CREAM/MILK/SHERBTS,PREMIUM PINTS,PT
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202,1838,National,GROCERY,BAKED BREAD/BUNS/ROLLS,MAINSTREAM WHEAT/MULTIGRAIN BR,20 OZ
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202,2193,National,GROCERY,ICE CREAM/MILK/SHERBTS,PREMIUM,48 OZ
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202,869,National,GROCERY,TEAS,TEA BAGS HERBAL & FLAVORED,20 CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559316,225,33655617762,6463742,31642,447,1,2.29,1942,65,-1.70,0.0,0.0,0.086202,69,Private,GROCERY,CHEESE,SHREDDED CHEESE,16 OZ
2559317,266,40097402794,968269,367,551,1,1.99,2255,79,0.00,0.0,0.0,0.086202,1091,National,GROCERY,HOUSEHOLD CLEANG NEEDS,TOILET BOWL MANUAL,24 OZ
2559318,2364,30443976140,2041688,673,230,2,1.50,1757,34,-0.62,0.0,0.0,0.085335,69,Private,GROCERY,MEAT - SHELF STABLE,CHILI: CANNED,15 OZ
2559319,1048,31145396229,1082185,436,280,1,0.74,1445,41,0.00,0.0,0.0,0.086202,2,National,PRODUCE,TROPICAL FRUIT,BANANAS,40 LB
2559320,2270,28318130093,1138858,445,111,1,2.69,808,17,-0.30,0.0,0.0,0.086202,151,National,GROCERY,FROZEN PIZZA,PIZZA/PREMIUM,12.5 OZ

- Ïû•Î∞îÍµ¨Îãà(Basket_ID)Î≥ÑÎ°ú Íµ¨Îß§Ìïú ÏÉÅÌíàÌÉÄÏûÖ Î™©Î°ù Ï†ïÎ¶¨

In [13]:
# Í∞Å Í±∞Îûò(Basket_ID)ÎßàÎã§ Íµ¨Îß§Ìïú ÏÉÅÌíà Ïú†Ìòï(Product_type)Ïùò Î¶¨Ïä§Ìä∏ ÏÉùÏÑ±
transactions = merged_data.groupby('Basket_ID')['Product_type'].unique().reset_index()
transactions

          Basket_ID                                       Product_type
0       26984851472  [POTATOES RUSSET (BULK&BAG), CELERY, ONIONS SW...
1       26984851516  [HAMBURGER BUNS, TRAY PACK/CHOC CHIP COOKIES, ...
2       26984896261  [GRANOLA BARS, EGGS - X-LARGE, LINKS - RAW, SN...
3       26984905972  [RAMEN NOODLES/RAMEN CUPS, MAINSTREAM WHITE BR...
4       26984945254  [SEASONAL CANDY BOX NON-CHOCOLA, INSIDE FROST ...
...             ...                                                ...
254725  42302712006  [TORTILLA/NACHO CHIPS, SFT DRNK 2 LITER BTL CA...
254726  42302712189  [PLSTC CTLRYTBLCLTHSTTHPKSST, REFRIG DIPS, PAP...
254727  42302712298  [BUTTER, HAIR CONDITIONERS AND RINSES, SHAMPOO...
254728  42305362497  [SEASONAL MISCELLANEOUS, SFT DRNK 2 LITER BTL ...
254729  42305362535  [BEERALEMALT LIQUORS, MACARONI & CHEESE DNRS, ...

[254730 rows x 2 columns]

- Ìä∏ÎûúÏû≠ÏÖò Î¶¨Ïä§Ìä∏Î°ú Î≥ÄÌôò

In [14]:
transaction_list = transactions['Product_type'].tolist()
transaction_list = [list(item) for item in transaction_list]
print(transaction_list[:5])

[['POTATOES RUSSET (BULK&BAG)', 'CELERY', 'ONIONS SWEET (BULK&BAG)', 'ORGANIC CARROTS', 'BANANAS'], ['HAMBURGER BUNS', 'TRAY PACK/CHOC CHIP COOKIES', 'PEANUT BUTTER', 'SPONGES: BATH HOUSEHOLD', 'GRAHAM CRACKERS'], ['GRANOLA BARS', 'EGGS - X-LARGE', 'LINKS - RAW', 'SNACK CRACKERS', 'GRND/PATTY - ROUND'], ['RAMEN NOODLES/RAMEN CUPS', 'MAINSTREAM WHITE BREAD'], ['SEASONAL CANDY BOX NON-CHOCOLA', 'INSIDE FROST BULBS', 'CHEWING GUM']]

- Ìä∏ÎûúÏû≠ÏÖò ÌÜµÍ≥Ñ

In [15]:
transactions['num_products'] = transactions['Product_type'].apply(len)
average_products_per_order = transactions['num_products'].mean()
max_products_per_order = transactions['num_products'].max()
min_products_per_order = transactions['num_products'].min()

print(f"Average number of products per order: {average_products_per_order}")
print(f"Maximum number of products per order: {max_products_per_order}")
print(f"Minimum number of products per order: {min_products_per_order}")

Average number of products per order: 8.520123267773721
Maximum number of products per order: 128
Minimum number of products per order: 1

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì ÏßÄÍ∏àÎ∂ÄÌÑ¥ ÏßÄÎÇú Ïã§Ïäµ Îïå ÌñàÎçò Í≥ºÏ†ïÏùò Î∞òÎ≥µ! <strong>
</span>

## **2Ô∏è‚É£ Ïó∞Í¥Ä Î∂ÑÏÑù - TransactionEncoderÎ°ú Ïù¥ÏßÑ ÌñâÎ†¨Î°ú Î≥ÄÌôò**

In [17]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)  # ÌïôÏäµÍ≥º Î≥ÄÌôòÏùÑ Îî∞Î°úÎî∞Î°ú!

df_encoded = pd.DataFrame(te_ary, columns=te.columns_).astype(int)
df_encoded.head()

,*ATH ACCES:TOWEL BARS/SOAP D,*ATTERIES:CAMERA/FLASH/WATCH,*BOYS/GIRLS MISC TOYS,*MISC. LOBBY ITEMS,*PURSES UMBRELLAS,*SCRAPBOOK,*SPORT NOVELTIES,*SPORTS APPAREL,*SPRING/SUMMER MISC,20 BIKES,...,WRITING INSTRUMENTS,XMAS PLUSH,YARDLEY,YEAST: DRY,YELLOW JACKET,YELLOW SUMMER SQUASH,YNG MEN SCREEN PRINT T-SHIRTS,YOGURT,YOGURT MULTI-PACKS,YOGURT NOT MULTI-PACKS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **3Ô∏è‚É£ Ïó∞Í¥Ä Î∂ÑÏÑù - Apriori ÏïåÍ≥†Î¶¨Ï¶ò ÌôúÏö©**

- Apriori ÏïåÍ≥†Î¶¨Ï¶òÏúºÎ°ú ÎπàÎ∞ú Ìï≠Î™© ÏßëÌï© ÎèÑÏ∂ú (ÏßÄÏßÄÎèÑ 0.05% Ïù¥ÏÉÅ)

In [18]:
from mlxtend.frequent_patterns import apriori

filtered_onehot = df_encoded.loc[:, df_encoded.sum(axis=0) > 20]

# aprioriÎ°ú frequent_itemsets Ï∂îÏ∂ú (ÏµúÏÜåÏßÄÏßÄÎèÑÎäî 0.005, use_colnames=True, low_memory=True)
frequent_itemsets = apriori(filtered_onehot, min_support=0.005, use_colnames=True, low_memory=True)
frequent_itemsets.head()

    support                        itemsets
0  0.011899              (ADULT ANALGESICS)
1  0.030020                  (ADULT CEREAL)
2  0.005374  (AIR CARE - CONTINUOUS ACTION)
3  0.008024            (ALKALINE BATTERIES)
4  0.040266             (ALL FAMILY CEREAL)

- `association_rules`Î°ú Ïó∞Í¥Ä Í∑úÏπô ÎèÑÏ∂ú Î∞è ÌïÑÌÑ∞ÎßÅ(Ïã†Î¢∞ÎèÑ 40% Ïù¥ÏÉÅ)

In [19]:
num_itemsets = len(frequent_itemsets)

# confidence Í∏∞Ï§ÄÏúºÎ°ú Ïó∞Í¥Ä Í∑úÏπô(rules)ÏùÑ Ï∂îÏ∂úÌïòÏÑ∏Ïöî.
# Ï°∞Í±¥: min_threshold=0.4, metric="***",num_itemsets = num_itemsets
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4, num_itemsets = num_itemsets)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,support,confidence,lift
0,(ADULT CEREAL),(BANANAS),0.012119,0.403688,3.393439
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946
3,(APPLE JUICE & CIDER (OVER 50%),(FLUID MILK WHITE ONLY),0.006874,0.588769,2.446211
4,(APPLES GALA (BULK&BAG)),(BANANAS),0.006996,0.507837,4.268928

In [20]:
print(rules.shape)

(445, 14)

- Ïó∞Í¥Ä Î∂ÑÏÑùÏö© Î¶¨Ïä§Ìä∏ Íµ¨Ï°∞ Ï†ïÎ¶¨

In [21]:
transaction_list = [list(t) if isinstance(t, (list, np.ndarray)) else [t] for t in transaction_list]
transaction_list = [t.tolist() if isinstance(t, np.ndarray) else list(t) if isinstance(t, list) else [t] for t in transaction_list]

- Î∂àÌïÑÏöîÌïú ÏßÄÌëú Ï†úÍ±∞

In [22]:
apriori = rules.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- Ïú†ÏùòÎØ∏Ìïú Í∑úÏπô ÌïÑÌÑ∞ÎßÅ(Ìñ•ÏÉÅÎèÑ 1 Ïù¥ÏÉÅ)

In [23]:
apriori = apriori[apriori['lift'] >= 1]

- Í≤∞Í≥º ÌôïÏù∏

In [24]:
apriori

,antecedents,consequents,support,confidence,lift,leverage
0,(ADULT CEREAL),(BANANAS),0.012119,0.403688,3.393439,0.008547
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870,0.011928
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946,0.016446
3,(APPLE JUICE & CIDER (OVER 50%),(FLUID MILK WHITE ONLY),0.006874,0.588769,2.446211,0.004064
4,(APPLES GALA (BULK&BAG)),(BANANAS),0.006996,0.507837,4.268928,0.005357
...,...,...,...,...,...,...
440,"(SHREDDED CHEESE, KIDS CEREAL)",(MAINSTREAM WHITE BREAD),0.005076,0.442202,4.200561,0.003868
441,"(SOFT DRINKS 12/18&15PK CAN CAR, KIDS CEREAL)",(MAINSTREAM WHITE BREAD),0.005135,0.454798,4.320211,0.003946
442,"(SHREDDED CHEESE, POTATO CHIPS)",(MAINSTREAM WHITE BREAD),0.005602,0.405974,3.856424,0.004149
443,"(SOFT DRINKS 12/18&15PK CAN CAR, SNACK CAKE - ...",(MAINSTREAM WHITE BREAD),0.005429,0.478878,4.548949,0.004236
444,"(SOFT DRINKS 12/18&15PK CAN CAR, BANANAS, MAIN...",(FLUID MILK WHITE ONLY),0.005013,0.721877,2.999244,0.003342

## **[ Ï∞∏Í≥† ] Ïó∞Í¥Ä Î∂ÑÏÑù - FP-Growth ÏïåÍ≥†Î¶¨Ï¶ò ÌôúÏö©**

- ÏΩîÎìúÎ•º ÎèåÎ¶¥ Îïå Ï°∞Ïã¨Ìï¥Ï£ºÏÑ∏Ïöî!

In [25]:
filtered_onehot

,ABRASIVES,ACNE MEDICATIONS,ACTIVITY,ADDITIVES/FLUIDS,ADHESIVES/CAULK,ADULT ANALGESICS,ADULT CEREAL,ADULT INCONTINENCE BRIEFS,ADULT INCONTINENCE MISC PRODUC,ADULT INCONTINENCE PADS,...,WRAP,WREATHS,WREATHS/TINSEL/GARLAND,WRITING INSTRUMENTS,XMAS PLUSH,YEAST: DRY,YELLOW SUMMER SQUASH,YOGURT,YOGURT MULTI-PACKS,YOGURT NOT MULTI-PACKS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü•π Ïã§Ïäµ Îïå Îã§Î£®ÏóàÎçò FP-Growth ÏïåÍ≥†Î¶¨Ï¶òÏù¥ Ï∞∏Í≥† ÏûêÎ£åÍ∞Ä Îêú Ïù¥Ïú†Îäî Îã§Ïùå ÏÖÄ ÎïåÎ¨∏Ïù¥ÏóêÏöî... ÎèåÎ¶¥ Îïå Ï°∞Ïã¨Ìï¥Ï£ºÏÑ∏Ïöî... 30Î∂ÑÏî© Í±∏Î¶¥ ÎïåÎèÑ ÏûàÍ±∞Îì†Ïöî... <strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ü§î "Ïó•? Í∑ºÎç∞ FP-Growth ÏïåÍ≥†Î¶¨Ï¶òÏù¥ Apriori ÏïåÍ≥†Î¶¨Ï¶òÎ≥¥Îã§ Í≥ÑÏÇ∞Ïù¥ Îπ†Î•¥Îã§Í≥† ÌïòÏßÄ ÏïäÏïòÎÇò?"<strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì ÎÑ§! Í≥µÎ∂ÄÎ•º Ïó¥Ïã¨Ìûà ÌïòÏÖ®Íµ∞Ïöî!? ÎßûÏäµÎãàÎã§! Ïù¥Î°†ÏÉÅ FP-Growth ÏïåÍ≥†Î¶¨Ï¶òÏù¥ Apriori ÏïåÍ≥†Î¶¨Ï¶òÏù¥ Í≥ÑÏÇ∞Ïù¥ Îçî Îπ†Î¶ÖÎãàÎã§!<strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ü§î Ïó• Í∑∏Îüº Ïôú...? <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì ÏÇ¨Ïö©Ìïú ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò Ï∞®Ïù¥ÏûÖÎãàÎã§! Ï†ÄÌù¨Îäî mlxtend ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÇ¨Ïö©ÌñàÏäµÎãàÎã§! <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì mlxtend ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò Í≤ΩÏö∞ AprioriÎäî CythonÏúºÎ°ú ÏµúÏ†ÅÌôî ÎêòÏñ¥ Îß§Ïö∞ Îπ†Î•¥Í≤å ÏûëÎèôÌïòÏßÄÎßå, FP-GrowthÎäî ÏàúÏàò PythonÏúºÎ°ú Íµ¨ÌòÑÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Ïò§ÌûàÎ†§ ÎäêÎ¶¥ Ïàò ÏûàÏäµÎãàÎã§. Ïù¥ Í≤ΩÏö∞ fpgrowth_py ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÌôúÏö©ÌïúÎã§Î©¥ Îçî Îπ†Î•¥Í≤å ÏûëÎèôÌï† Ïàò ÏûàÏñ¥Ïöî~ <strong>
</span>

- FP-Growth ÏïåÍ≥†Î¶¨Ï¶òÏúºÎ°ú ÎπàÎ∞ú Ìï≠Î™© ÏßëÌï© ÎèÑÏ∂ú (ÏßÄÏßÄÎèÑ 0.05% Ïù¥ÏÉÅ)

In [24]:
from mlxtend.frequent_patterns import fpgrowth

# FP-Growth ÏïåÍ≥†Î¶¨Ï¶òÏùÑ ÏÇ¨Ïö©Ìï¥ frequent_itemsets_fpÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
# Ï°∞Í±¥: ÏµúÏÜåÏßÄÏßÄÎèÑ: 0.005, use_colnames=True, ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞Îäî boolean ÌÉÄÏûÖ(astype(bool))
frequent_itemsets_fp = fpgrowth(filtered_onehot.astype(bool), min_support=0.005, use_colnames=True)
frequent_itemsets_fp.head()

    support                      itemsets
0  0.118961                     (BANANAS)
1  0.038044  (POTATOES RUSSET (BULK&BAG))
2  0.023715     (ONIONS SWEET (BULK&BAG))
3  0.018816                      (CELERY)
4  0.040133              (HAMBURGER BUNS)

- `association_rules`Î°ú Ïó∞Í¥Ä Í∑úÏπô ÎèÑÏ∂ú Î∞è ÌïÑÌÑ∞ÎßÅ(Ïã†Î¢∞ÎèÑ 40% Ïù¥ÏÉÅ)

In [25]:
# confidence Í∏∞Ï§ÄÏúºÎ°ú Ïó∞Í¥Ä Í∑úÏπô(rules)ÏùÑ Ï∂îÏ∂úÌïòÏÑ∏Ïöî.
# Ï°∞Í±¥: min_threshold=0.4, metric="***"
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.4)

rules_fp.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118961,0.240686,0.061402,0.516154,2.144508,1.0,0.032770,1.569328,0.605754,0.205878,0.362785,0.385633
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.038044,0.240686,0.019236,0.505624,2.100759,1.0,0.010079,1.535903,0.544704,0.074129,0.348917,0.292773
2,"(BANANAS, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.010788,0.240686,0.006776,0.628093,2.609593,1.0,0.004179,2.041677,0.623525,0.027690,0.510207,0.328123
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.011463,0.240686,0.007577,0.660959,2.746144,1.0,0.004818,2.239592,0.643226,0.030979,0.553490,0.346219
4,"(SHREDDED CHEESE, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.008519,0.240686,0.005606,0.658065,2.734118,1.0,0.003556,2.220635,0.639701,0.023013,0.549678,0.340678

In [26]:
from IPython.display import display

print("üî• Frequent Itemsets:")
display(frequent_itemsets_fp)

print("\nüî• Association Rules:")
display(rules_fp)

üî• Frequent Itemsets:

       support                                           itemsets
0     0.118961                                          (BANANAS)
1     0.038044                       (POTATOES RUSSET (BULK&BAG))
2     0.023715                          (ONIONS SWEET (BULK&BAG))
3     0.018816                                           (CELERY)
4     0.040133                                   (HAMBURGER BUNS)
...        ...                                                ...
1475  0.005221             (FLUID MILK WHITE ONLY, PAPER NAPKINS)
1476  0.007267             (FLUID MILK WHITE ONLY, STRING CHEESE)
1477  0.006866   (FLUID MILK WHITE ONLY, CANDY BARS (MULTI PACK))
1478  0.006572  (FLUID MILK WHITE ONLY, ISOTONIC DRINKS SINGLE...
1479  0.005064            (STUFFING MIXES, FLUID MILK WHITE ONLY)

[1480 rows x 2 columns]

üî• Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118961,0.240686,0.061402,0.516154,2.144508,1.0,0.032770,1.569328,0.605754,0.205878,0.362785,0.385633
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.038044,0.240686,0.019236,0.505624,2.100759,1.0,0.010079,1.535903,0.544704,0.074129,0.348917,0.292773
2,"(BANANAS, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.010788,0.240686,0.006776,0.628093,2.609593,1.0,0.004179,2.041677,0.623525,0.027690,0.510207,0.328123
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.011463,0.240686,0.007577,0.660959,2.746144,1.0,0.004818,2.239592,0.643226,0.030979,0.553490,0.346219
4,"(SHREDDED CHEESE, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.008519,0.240686,0.005606,0.658065,2.734118,1.0,0.003556,2.220635,0.639701,0.023013,0.549678,0.340678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,(FACIAL TISSUE & PAPER HANDKE),(FLUID MILK WHITE ONLY),0.018141,0.240686,0.008919,0.491668,2.042778,1.0,0.004553,1.493737,0.519902,0.035690,0.330538,0.264363
441,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.010717,0.240686,0.005221,0.487179,2.024127,1.0,0.002642,1.480662,0.511441,0.021209,0.324626,0.254436
442,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.014133,0.240686,0.007267,0.514167,2.136253,1.0,0.003865,1.562910,0.539515,0.029353,0.360168,0.272179
443,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.015762,0.240686,0.006572,0.416936,1.732282,1.0,0.002778,1.302283,0.429497,0.026300,0.232118,0.222120
444,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.009390,0.240686,0.005064,0.539298,2.240667,1.0,0.002804,1.648166,0.558953,0.020669,0.393265,0.280169

In [27]:
fp_growth = rules_fp.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- Ïú†ÏùòÎØ∏Ìïú Í∑úÏπô ÌïÑÌÑ∞ÎßÅ(Ìñ•ÏÉÅÎèÑ 1 Ïù¥ÏÉÅ)

In [30]:
fp_growth = fp_growth[fp_growth['lift'] >= 1]
fp_growth

,antecedents,consequents,support,confidence,lift,leverage
0,(BANANAS),(FLUID MILK WHITE ONLY),0.061402,0.516154,2.144508,0.032770
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.019236,0.505624,2.100759,0.010079
2,"(BANANAS, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.006776,0.628093,2.609593,0.004179
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.007577,0.660959,2.746144,0.004818
4,"(SHREDDED CHEESE, POTATOES RUSSET (BULK&BAG))",(FLUID MILK WHITE ONLY),0.005606,0.658065,2.734118,0.003556
...,...,...,...,...,...,...
440,(FACIAL TISSUE & PAPER HANDKE),(FLUID MILK WHITE ONLY),0.008919,0.491668,2.042778,0.004553
441,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.005221,0.487179,2.024127,0.002642
442,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.007267,0.514167,2.136253,0.003865
443,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.006572,0.416936,1.732282,0.002778
444,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.005064,0.539298,2.240667,0.002804

## **4Ô∏è‚É£ Ïó∞Í¥Ä Î∂ÑÏÑù - Í≤∞Í≥º Ìï¥ÏÑù**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ü§ì Í≤∞Í≥ºÎ•º Ìï¥ÏÑùÌïòÍ≥† Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∞Îäî Í≤å Ìï¥Îãπ Í≥ºÏ†úÏùò ÌïµÏã¨Ïù¥Îãà Íº≠!!!! ÏÑ±ÏùòÏûàÍ≤å ÍπäÍ≤å Í≥†ÎØºÌïú ÌùîÏ†ÅÏùÑ ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî! <strong>
</span>

### **[Ïó∞Í¥ÄÎ∂ÑÏÑù] ÏßÄÏßÄÎèÑ 0.9% Ïù¥ÏÉÅ, Ïã†Î¢∞ÎèÑ 55% Ïù¥ÏÉÅ, Ìñ•ÏÉÅÎèÑ 1 Ïù¥ÏÉÅ Ïó∞Í¥Ä Î∂ÑÏÑù**

In [26]:
results = apriori[(apriori['confidence']>0.55)&(apriori['support']>0.009)&(apriori['lift']>1)]
results

,antecedents,consequents,support,confidence,lift,leverage
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870,0.011928
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946,0.016446
48,(CHOCOLATE MILK),(FLUID MILK WHITE ONLY),0.021615,0.654308,2.718510,0.013664
51,(CORN),(FLUID MILK WHITE ONLY),0.013379,0.555682,2.308742,0.007584
57,(DAIRY CASE 100% PURE JUICE - O),(FLUID MILK WHITE ONLY),0.037451,0.588163,2.443691,0.022126
62,(EGGS - LARGE),(FLUID MILK WHITE ONLY),0.029667,0.571547,2.374658,0.017174
64,(EGGS - X-LARGE),(FLUID MILK WHITE ONLY),0.021752,0.583263,2.423334,0.012776
70,(FRUIT BOWL AND CUPS),(FLUID MILK WHITE ONLY),0.011710,0.572773,2.379748,0.006790
94,(KIDS CEREAL),(FLUID MILK WHITE ONLY),0.033000,0.654316,2.718544,0.020861
100,(MACARONI & CHEESE DNRS),(FLUID MILK WHITE ONLY),0.017100,0.572706,2.379471,0.009914
128,(PASTA: CANNED),(FLUID MILK WHITE ONLY),0.013096,0.569089,2.364444,0.007557
129,(PEANUT BUTTER),(FLUID MILK WHITE ONLY),0.014466,0.566749,2.354720,0.008323
153,(REFRIGERATED BISCUITS REGULAR),(FLUID MILK WHITE ONLY),0.012331,0.554457,2.303652,0.006978
186,(TOASTER PASTRIES),(FLUID MILK WHITE ONLY),0.011593,0.575634,2.391635,0.006745
200,(WAFFLES/PANCAKES/FRENCH TOAST),(FLUID MILK WHITE ONLY),0.011279,0.579000,2.405623,0.006590
202,(YOGURT MULTI-PACKS),(FLUID MILK WHITE ONLY),0.013418,0.576100,2.393572,0.007812
219,"(ALL FAMILY CEREAL, BANANAS)",(FLUID MILK WHITE ONLY),0.010721,0.716234,2.975800,0.007118
235,"(BANANAS, CONDENSED SOUP)",(FLUID MILK WHITE ONLY),0.009186,0.661017,2.746385,0.005841
240,"(DAIRY CASE 100% PURE JUICE - O, BANANAS)",(FLUID MILK WHITE ONLY),0.014451,0.686370,2.851719,0.009383
243,"(BANANAS, EGGS - LARGE)",(FLUID MILK WHITE ONLY),0.010544,0.698933,2.903918,0.006913
254,"(BANANAS, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.009932,0.709877,2.949386,0.006565
257,"(MAINSTREAM WHEAT/MULTIGRAIN BR, BANANAS)",(FLUID MILK WHITE ONLY),0.011314,0.654405,2.718914,0.007153
258,"(BANANAS, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.016492,0.663351,2.756081,0.010508
269,"(BANANAS, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.009642,0.625892,2.600448,0.005934
272,"(BANANAS, PREMIUM)",(FLUID MILK WHITE ONLY),0.009697,0.635452,2.640166,0.006024
277,"(SHREDDED CHEESE, BANANAS)",(FLUID MILK WHITE ONLY),0.014023,0.681289,2.830612,0.009069
280,"(SOFT DRINKS 12/18&15PK CAN CAR, BANANAS)",(FLUID MILK WHITE ONLY),0.013159,0.633648,2.632674,0.008161
292,"(YOGURT NOT MULTI-PACKS, BANANAS)",(FLUID MILK WHITE ONLY),0.012268,0.643136,2.672095,0.007677
318,"(DAIRY CASE 100% PURE JUICE - O, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.010026,0.736235,3.058901,0.006749
329,"(MAINSTREAM WHITE BREAD, EGGS - LARGE)",(FLUID MILK WHITE ONLY),0.009041,0.705360,2.930620,0.005956
350,"(MAINSTREAM WHITE BREAD, IWS SINGLE CHEESE)",(FLUID MILK WHITE ONLY),0.010466,0.631305,2.622937,0.006476
356,"(MAINSTREAM WHITE BREAD, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.012766,0.752604,3.126908,0.008684
387,"(MAINSTREAM WHITE BREAD, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.011934,0.590635,2.453964,0.007071
392,"(SFT DRNK 2 LITER BTL CARB INCL, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.010073,0.559407,2.324217,0.005739
393,"(SHREDDED CHEESE, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.013559,0.679520,2.823261,0.008757
395,"(SNACK CAKE - MULTI PACK, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.010333,0.641638,2.665870,0.006457
398,"(SOFT DRINKS 12/18&15PK CAN CAR, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.014969,0.621010,2.580163,0.009167
428,"(SOFT DRINKS 12/18&15PK CAN CAR, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.010321,0.595740,2.475172,0.006151

- ÏúÑ Í≤∞Í≥ºÎ•º ÏßÄÏßÄÎèÑ, Ïã†Î¢∞ÎèÑ, Ìñ•ÏÉÅÎèÑ Í∞íÏùÑ Î∞îÌÉïÏúºÎ°ú Ìï¥ÏÑùÌï¥Ï£ºÏÑ∏Ïöî! (Îëê Í∞ÄÏßÄ Ïù¥ÏÉÅ)

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ü§ì [ ÏòàÏãú ] 'FLUID MILK WHITE ONLY'(Ïö∞Ïú†)Îäî Îã§ÏñëÌïú ÌíàÎ™©Í≥º ÎÜíÏùÄ Í≤∞Ìï© Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ Î≥¥Ïù¥Î©∞, 30Í∞ú Ïù¥ÏÉÅÏùò Ï†úÌíàÍ≥º lift 2 Ïù¥ÏÉÅÏúºÎ°ú Í∞ïÌïú Ïó∞Í¥ÄÏÑ±ÏùÑ ÎÇòÌÉÄÎÇ∏Îã§. <br> ÌäπÌûà ÏãúÎ¶¨Ïñº Í≥ÑÏó¥Ïù∏ 'ALL FAMILY CEREAL', 'KIDS CEREAL', 'ADULT CEREAL'ÏùÄ Í∞ÅÍ∞Å 65% Ïù¥ÏÉÅÏùò Ïã†Î¢∞ÎèÑÏôÄ 2.6~2.7Ïùò liftÎ•º Í∏∞Î°ùÌï¥ ÎààÏóê ÎùÑÎäî Í≤∞Ìï© ÏÜåÎπÑÍ∞Ä ÌôïÏù∏ÎêúÎã§. <br> Ï†ÑÎ∞òÏ†ÅÏúºÎ°ú Ïö∞Ïú†Îäî ÏãúÎ¶¨Ïñº, Í≥ºÏùº, Î≤†Ïù¥Ïª§Î¶¨, ÏïÑÏπ® ÏãùÏÇ¨Î•ò Ï†úÌíàÎì§Í≥º ÏûêÏ£º Ìï®Íªò Íµ¨Îß§ÎêòÎ©∞, Ïù¥Îäî ÏÜåÎπÑÏûêÏùò ÏãùÏÇ¨ Ï§ÄÎπÑ Îß•ÎùΩÍ≥º Î∞ÄÏ†ëÌïòÍ≤å Ïó∞Í≤∞Îêú Íµ¨Îß§ Í≤ΩÌñ•ÏùÑ Î≥¥Ïó¨Ï§ÄÎã§. <strong>  
</span>

- Ìï¥ÏÑù 1: ‚ÄòFLUID MILK WHITE ONLY‚Äô(Ïö∞Ïú†)Îäî ÏïÑÏπ® ÏãùÏÇ¨ ÎåÄÏö©ÌíàÍ≥º Í∞ïÌïú Ïó∞Í¥ÄÏÑ±ÏùÑ Í∞ÄÏßÄÎ©∞, Ìï®Íªò Íµ¨Îß§ÎêòÎäî ÎåÄÌëú ÌíàÎ™©ÏúºÎ°ú ÏûêÎ¶¨Ïû°Í≥† ÏûàÎã§. ÌäπÌûà ‚ÄòEGGS - LARGE‚Äô, ‚ÄòGRANOLA BARS‚Äô, ‚ÄòTOASTER PASTRIES‚Äô, ‚ÄòWAFFLES/PANCAKES/FRENCH TOAST‚Äô Îì± ÏïÑÏπ® ÏãùÏÇ¨Î•ò ÌíàÎ™©Í≥ºÏùò Ï°∞Ìï©ÏùÄ Ïã†Î¢∞ÎèÑ 57% Ïù¥ÏÉÅ, lift 2.3~2.4 ÏàòÏ§ÄÏúºÎ°ú ÎÜíÏùÄ ÎèôÎ∞ò Íµ¨Îß§Ïú®ÏùÑ Î≥¥Ïù∏Îã§.

- Ìï¥ÏÑù 2: Ïö∞Ïú†Îäî Í∞ÑÌé∏Ïãù¬∑Í∞ÑÏãùÎ•ò Ï†úÌíàÍ≥ºÎèÑ Ìï®Íªò Íµ¨Îß§ÎêòÎäî Í≤ΩÌñ•Ïù¥ ÏûàÏúºÎ©∞, ‚ÄòBANANAS‚ÄôÏôÄÏùò Ï°∞Ìï©ÏùÄ ÌäπÌûà ÎÜíÏùÄ Ïã†Î¢∞ÎèÑÏôÄ Ìñ•ÏÉÅÎèÑÎ•º Î≥¥Ïù∏Îã§. ÏòàÎ•º Îì§Ïñ¥, ‚ÄòKIDS CEREAL, BANANAS‚ÄôÏùò Ï°∞Ìï©ÏùÄ Ïã†Î¢∞ÎèÑ 71%, lift 2.94, ‚ÄòBANANAS, MAINSTREAM WHITE BREAD‚ÄôÎäî Ïã†Î¢∞ÎèÑ 66%, lift 2.75Î°ú ÎÇòÌÉÄÎÇ¨Îã§. Ïó≠Ïãú ÏïÑÏπ®Ïóê Î∞îÎÇòÎÇòÏôÄ Ïö∞Ïú†Îäî Íµ≠Î£∞Ïù∏Í∞ÄÎ≥¥Îã§

## **5Ô∏è‚É£ Ïó∞Í¥Ä Î∂ÑÏÑù - ÎπÑÏ¶àÎãàÏä§ Ï†ÑÎûµ ÏàòÎ¶Ω**

- ÏúÑ Í≤∞Í≥ºÌï¥ÏÑùÏóê Îî∞Îùº ÎπÑÏ¶àÎãàÏä§ Ï†ÑÎûµÏùÑ ÏàòÎ¶ΩÌï¥Ï£ºÏÑ∏Ïöî! (2Í∞ÄÏßÄ Ïù¥ÏÉÅ) -> ÎÉÖÎã§ GPTÎßå Ìå®ÏÑú Ïì∞ÏßÄ ÎßêÏïÑÏ£ºÏÑ∏Ïöî . . .. .

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ü§ì [ ÏòàÏãú ] Ïö∞Ïú†ÏôÄ Ìï®ÍªòÌïòÎäî ÏãùÌÉÅ ÌÅêÎ†àÏù¥ÏÖò Ï°¥ Íµ¨ÏÑ± <strong>  
</span>

**üéØ Î™©Ï†Å**

* Ïö∞Ïú†ÏôÄ ÏûêÏ£º Ìï®Íªò Íµ¨Îß§ÎêòÎäî ÏÉÅÌíàÏùÑ Î™®ÏïÑ **ÏßÅÍ¥ÄÏ†ÅÏù∏ Íµ¨Îß§ Ïú†ÎèÑ**
* **Í∞ùÎã®Í∞Ä ÏÉÅÏäπ**, **Ìé∏Î¶¨Ìïú ÏáºÌïë Í≤ΩÌóò Ï†úÍ≥µ**

**üõí Íµ¨ÏÑ± ÌíàÎ™©**

* **ÏãúÎ¶¨ÏñºÎ•ò**: KIDS / ALL FAMILY / ADULT CEREAL
* **Î≤†Ïù¥Ïª§Î¶¨**: ÏãùÎπµ, ÎπÑÏä§ÌÇ∑, ÌÜ†Ïä§ÌÑ∞ ÌéòÏù¥Ïä§Ìä∏Î¶¨
* **Í≥ºÏùºÎ•ò**: Î∞îÎÇòÎÇò, ÏªµÍ≥ºÏùº
* **Ïú†Ï†úÌíà/Í∞ÑÌé∏Ïãù**: ÏöîÍ±∞Ìä∏, Îã¨Í±Ä, ÎßàÏπ¥Î°úÎãà Îì±

**üìç Ïö¥ÏòÅ Î∞©Î≤ï**

* Ïö∞Ïú† ÎÉâÏû•Í≥† Ïù∏Í∑ºÏóê **"Ïö∞Ïú†ÏôÄ ÏµúÍ≥†Ïùò Í∂ÅÌï©!"** ÌÖåÎßàÏ°¥ ÏÑ§Ïπò
* POP/QRÏΩîÎìúÎ°ú **Ï∂îÏ≤ú ÏãùÎã®**Ïù¥ÎÇò **Ìï†Ïù∏ Ïø†Ìè∞** Ï†úÍ≥µ
* Í≥ÑÏ†àÎ≥Ñ ÌÖåÎßà Íµ¨ÏÑ± (Ïòà: Ïó¨Î¶Ñ=ÎÉâÍ≥ºÏùº, Í≤®Ïö∏=Ïò§Ìä∏Î∞Ä)

**üìà Í∏∞ÎåÄ Ìö®Í≥º**

* Ïö∞Ïú† Í≤∞Ìï© Íµ¨Îß§Ïú® ÏÉÅÏäπ
* Ïó∞Í¥Ä Ï†úÌíà Îß§Ï∂ú Ï¶ùÍ∞Ä
* ‚ÄòÍ≥†ÎØº ÏóÜÎäî Ï°∞Ìï©‚ÄôÏúºÎ°ú **Í≥†Í∞ù ÎßåÏ°±ÎèÑ Ìñ•ÏÉÅ**

- Ï†ÑÎûµ 1: **ÏïÑÏπ® ÌïúÎÅº Ï§ÄÎπÑ ÎÅù! ÌÖåÎßà Ï°¥ Ïö¥ÏòÅ**<br>
  -> Ïö∞Ïú† ÎÉâÏû•Í≥† ÏòÜÏóê ‚ÄòEGGS - LARGE‚Äô, ‚ÄòGRANOLA BARS‚Äô, ‚ÄòTOASTER PASTRIES‚Äô, ‚ÄòWAFFLES/PANCAKES‚Äô Îì±ÏùÑ Ìï®Íªò ÏßÑÏó¥<br>
  -> Î≤àÎì§ Ìå®ÌÇ§ÏßÄ : Ïö∞Ïú† + Í∑∏ÎûòÎÜÄÎùºÎ∞î + Í≥ÑÎûÄ + ÌÜ†Ïä§Ìä∏
    
  [Í∏∞ÎåÄÌö®Í≥º]
  - Ïû•Î∞îÍµ¨Îãà Íµ¨ÏÑ± ÌíàÎ™© Ïàò Î∞è Í∞ùÎã®Í∞Ä ÏÉÅÏäπ
  - Î∞îÏÅú ÏßÅÏû•Ïù∏ + 1Ïù∏ Í∞ÄÍµ¨Î•º ÌÉÄÍ≤üÏúºÎ°ú Ìïú Î∞òÎ≥µÍµ¨Îß§ Ïú†ÎèÑ
  - ÏûòÎêòÎ©¥ ÌÜ†Ïä§Ìä∏Í∏∞Í≥Ñ , ÏôÄÌîå Í∏∞Í≥ÑÎèÑ Í∑ºÏ≤òÏóê Î∞∞Ïπò

- Ï†ÑÎûµ 2: **Î∞îÎÇòÎÇòÏóê Î∞îÎÇòÎã§(Î∞òÌïòÎã§)** Ï∫†ÌéòÏù∏ Ï†ÑÎûµ<br>
-> Ïö∞Ïú†+Î∞îÎÇòÎÇò Í∞àÏïÑÏÑú ÏÇ¨ÎûåÎì§Ïù¥ Î®πÏñ¥Î≥º Ïàò ÏûàÍ≤å ÏΩîÎÑà Ïö¥ÏòÅ
  (Í∞ÑÌé∏ ÎØπÏÑúÍ∏∞ÍπåÏßÄ Î∞∞ÏπòÌïòÎ©¥ ÏùºÏÑùÏÇºÏ°∞)
-> Ïó¨Îü¨ Ìå®ÌÇ§ÏßÄ Ïö¥ÏòÅ
  - Î∞îÎÇòÎÇò + Ïö∞Ïú†
  - Î∞îÎÇòÎÇò + ÏãúÎ¶¨Ïñº + Ïö∞Ïú†
  - Î∞îÎÇòÎÇò + Ìå¨ÏºÄÏù¥ÌÅ¨ + Ïö∞Ïú†
  - Î∞îÎÇòÎÇò + ÏöîÍ±∞Ìä∏ + Ïö∞Ïú† Îì±<br>

[ Í∏∞ÎåÄÌö®Í≥º]
  - Î∞îÎÇòÎÇòÏôÄ ÏûòÏñ¥Ïö∏Î¶¨Îäî ÌíàÎ™©Îì§Í≥º Ìï®Íªò Ìå®ÌÇ§ÏßÄÎ•º Íµ¨ÏÑ±Ìï®ÏúºÎ°úÏç® Ïó∞Í≥Ñ ÌåêÎß§ Ïú†ÎèÑ => ÍµêÏ∞®ÌåêÎß§ Îß§Ï∂ú Ï¶ùÍ∞Ä Í∏∞ÎåÄ
  - Í±¥Í∞ï Í∞ÑÏãù, Í±¥Í∞ï ÏãùÏÇ¨ Ïù¥ÎØ∏ÏßÄÎ°ú Ïú†ÏûêÎÖÄ Í∞ÄÍµ¨ ÌÉÄÍπÉ ÎßàÏºÄÌåÖ Í∞ÄÎä•

# **ü§ì Í∏∞Í∞Ä ÎßâÌûå Ï†ÑÎûµÏùÑ Ï†úÏãúÌïòÎäî Î∂ÑÍªòÎäî ÌñâÏö¥Ïù¥ Ï∞æÏïÑÏòµÎãàÎã§~üçÄ**